/**
* @Author:      norion
* @Update:      2012.04.25
* @Update by:   norion
* @overview:    demo
*/
header{padding:10px;font-size:16px;background:#0F5B99;color:#fff}
article{}
	article header{background:#eee;margin:10px 0 0;font-size:14px;color:#333}
	pre{background:#fafafa;overflow:auto;margin:10px 10px 20px 0;padding:10px;clear:both;border-left:3px solid #09e}
	pre:hover{background:#eee;}

#header{height:26px;margin:0 0 10px;background:#f1f1f1;overflow:hidden;}
	#header-main{width:980px;height:26px;margin:0 auto;}
		#logo{display:block;width:250px;height:26px;background:url(../images/demo/logo.png) no-repeat left center;text-indent:-9999px;overflow:hidden;float:left;}
		#nav{list-style:none;float:left;margin:0;padding:0}
			#nav li{float:left;padding:0 20px}
				#nav a{color:#333}
				#nav a:hover{color:#999;}
#footer{background:#f1f1f1;margin:10px 0 0}
	#footer-main{width:980px;margin:0 auto;height:50px;line-height:50px;text-align:center;}
#main{width:980px;margin:0 auto;}
	#left{width:180px;padding:10px 10px 0;border:1px solid #f1f1f1}
		#left dt{background:#f1f1f1;padding:10px;margin:0 0 10px}
		#left dd{margin:0 0 10px;padding:0 0 0 20px}
	#right{width:768px;border:1px solid #f1f1f1}
		#demo{width:768px}